body {
  background-image: radial-gradient(circle, #e1dede, #ccccbb, #c1d3c1);
  min-height: 100vh;
}

html {
  font-family: Roboto, sans-serif;
}

input {
  margin: 5px 0;
}

h1 {
  color: #780b0b;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 30px 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.app-logo {
  width: 150px;
  height: 150px;
  margin: 30px auto;
}

.app-logo img {
  width: 100%;
  height: auto;
}

.budget-state {
  font-size: 28px;
  font-weight: 700;
}

.zero {
  color: #ffa500;
}

.inplus {
  color: #196919;
}

.inminus {
  color: #cc1338;
}

.budget-list-wrapper {
  margin: 30px 0;
  flex-direction: column;
}

.budget-list {
  padding: 20px 0;
  border-top: 1px solid #0b0b43;
  border-bottom: 1px solid #0b0b43;
}

.incomes-header {
  color: #196919;
}

.expenses {
  margin-top: 35px;
}

.expenses-header {
  color: #cc1338;
}

.budget-list-form {
  margin: 15px 0;
}

.budget-list-form-input {
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.input-text {
  width: 270px;
}

.input-number {
  width: 80px;
}

.input-button {
  padding: 3px 20px;
  border: none;
  background-color: #0b0b43;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.budget-list-item {
  flex-direction: column;
  padding: 2px 0;
  border: 1px solid #ffffff;
  background-color: #e1dede;
}

.button {
  padding: 3px 15px;
  margin: 2px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  width: fit-content;
}

.edit {
  background-color: #ffa500;
}

.remove {
  background-color: #cc1338;
}

.save {
  background-color: #196919;
}

.budget-list-summary {
  margin-top: 30px;
  border-bottom: 1px solid #1f6d82;
  color: #780b0b;
  font-size: 18px;
  font-weight: 700;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  height: 100px;
}

.icon-credentials {
  color: #ffffff;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  h1 {
    margin-top: 30px;
  }

  .container {
    width: 960px;
  }

  .budget-list-wrapper {
    flex-direction: row;
  }

  .app-logo {
    margin: 30px auto 60px;
    width: 200px;
    height: 200px;
  }

  .expenses {
    margin-top: 0;
  }

  .budget-list-item {
    flex-direction: row;
    align-items: center;
  }
}
